<div class="registration-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="log-in panel">
          <div class="panel-heading">

<h1>Update Your Booking</h1>

<%= render 'form', booking: @booking %>

<%= link_to 'Show', @booking %> |
<%= link_to 'Back', bookings_path %>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
