    <table class="table-minimal">
      <tbody>
        <%= @users.each do |user| %>

          <div class="panel panel-primary">
              <div class="panel-body">
        <ul>
          <li>Email: <%= user.email %></li>
          <li>User ID: <%= user.id %></li>
          <li>Last Signed In: <%= user.last_sign_in_at.strftime('%H:%M:%S %B, %d, %Y') %></li>
        </ul>

      </div>
    </div>
</tbody>
</table>
<% end %>
