<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yes You Can!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.jumbotron {
    background-image: url("http://s1.1zoom.me/big0/975/USA_Bridges_Bay_450686.jpg");
    font-family: Montserrat, sans-serif;
    height: 50%;
  }

  </style>

</head>

<div class="jumbotron text-center">
  <h1 id="welcome">The Official USA Citizenship Marketplace</h1>
  <p id="choice">Buy a new life or sell your old one</p>

  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
    <%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>
  <% end %><br><br><br>

</div>


<!-- Container (About Section) -->
<div id="newlife" class="container-fluid">
  <div class="row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
      <h2 id="create">We will help you create a new life!</h2>
      <br>
      <br>
      <p><span class="glyphicon glyphicon-tower"></span>
        Non US Citizens can purchase brand new, government issued, life time USA citizenship for only <strong>USD$250,000</strong>.</p>
      <br>
      <p><span class="glyphicon glyphicon-tower"></span>
        At the start of every calendar year the USA government will provide a finite "citizenship slots". WE are the USA government's only
        approved citizenship seller. You can obtain USA citizenship by no other means than through our website.</p>
      <br>
      <p><span class="glyphicon glyphicon-tower"></span>
        Once these citizenship slots are exhausted, no more will be offered by the government until the start of the next calendar year.</p>
      <br>
      <p><span class="glyphicon glyphicon-tower"></span>
        Demand is expected to be high so the annual allocation may be exhausted in a matter of weeks or months.</p>
      <br>
      <p><span class="glyphicon glyphicon-tower"></span>
        Dual citizens who hold valid USA citizenship are now able to
        renounce and sell their USA citizenship via this site only once the government issued annual allocation has been exhausted.</p>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <img src="http://houstonlibrary.org/sites/default/files/anchor_service_passport.png" class="img-circle" alt="USA passport">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<br><br><br>

<!-- Process Section) -->
<div id="how" class="container-fluid text-center">
  <h2 id="process">How Does this Work?</h2><br>
  <div class="row text-center ">
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <div class="thumbnail">
        <img src="https://dl.dropbox.com/s/hker526udb5jhl6/step1.jpg" alt="Step 1" >
        <h1 class="bigstep"><strong>JOIN</strong></h1>
        <p>Create an account</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <div class="thumbnail">
        <img src="https://dl.dropbox.com/s/22mkhjbzwiyl9ar/step2.jpg" alt="Step 2" ><br>
        <h1 class="bigstep"><strong>ADD</strong></h1>
        <p>Add citizenship slot to your cart</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <div class="thumbnail">
        <img src="https://dl.dropbox.com/s/765iixywz55cosr/step3.jpg" alt="Step 3" ><br>
        <h1 class="bigstep"><strong>PAY</strong></h1>
        <p>Make payment via card</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <div class="thumbnail">
        <img src="https://dl.dropbox.com/s/t9rxr1fw1407ncx/step4.jpg" alt="Step 4" ><br>
        <h1 class="bigstep"><strong>CLEAR</strong></h1>
        <p>Payment clears, we email you forms</p>
      </div>
    </div>
  </div>
      <div class="row text-center">
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="thumbnail">
          <img src="https://dl.dropbox.com/s/4h7dkb120uuy1xu/step-5.jpg" alt="Step 5" ><br>
          <h1 class="bigstep"><strong>SECURITY</strong></h1>
          <p>Forms come back, security check starts</p>
        </div>
      </div>
        <div class="col-lg-3 col-sm-3 col-xs-12">
          <div class="thumbnail">
            <img src="https://dl.dropbox.com/s/0wwk1wint1vl7yz/step-6.jpg" alt="Step 6" ><br>
            <h1 class="bigstep"><strong>APPROVED</strong></h1>
            <p>Check finished, all clear</p>
          </div>
        </div>
          <div class="col-lg-3 col-sm-3 col-xs-12">
            <div class="thumbnail">
              <img src="https://dl.dropbox.com/s/t7nrbjlcd7146vc/step-7.jpg" alt="Step 7" ><br>
              <h1 class="bigstep"><strong>PASSPORT</strong></h1>
              <p>We mail out your new passport</p>
            </div>
          </div>
            <div class="col-lg-3 col-sm-3 col-xs-12">
              <div class="thumbnail">
                <img src="https://dl.dropbox.com/s/vfjontj1bwbikvv/step-8.jpg" alt="Step 8" ><br>
                <h1 class="bigstep"><strong>ARRIVAL</strong></h1>
                <p>Live and work in the USA</p>
              </div>
      </div>
    </div>
  </div>


    <!-- LOCATION GALLERY SECTION -->
  </div>
</div><br>
<div class="block">
<h2>Live Anywhere in the USA You Wish</h2><br>
<p class="lead">Here is some inspiration.</p></h2>
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="https://www.moma.org/wp/inside_out/wp-content/uploads/2010/06/Chicago.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Harper_Midway_Chicago.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="http://www.la-palma-tourismus.com/Jacomo/upload/la-palma_puerto-naos1.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="http://www.diszine.com/wp-content/uploads/2011/06/sleeping-beauty-castle-at-disneyland.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="http://www.travelreviewshistoricsites.com/images/mount-rushmore-sculpture-lg.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="https://s-media-cache-ak0.pinimg.com/originals/c4/f5/46/c4f54619b6f91bd690f552cad74e4673.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="http://cdn4.hotelopia.com/giata/bigger/01/014726/014726a_hb_a_043.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="http://c.ymcdn.com/sites/www.itsmfusa.org/resource/group/b6661cec-40eb-4034-965b-608ed0312a7f/new_york_city_at_night.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="http://www.taketours.com/images/logo/7208.jpg" class="thumbnail img-responsive">
        </a>
    </div>
  </div>
</div>
  <hr>

<div id="contact" class="container-fluid">
  <h2 id="details" class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-12">
      <p class="cd">Contact us and we'll get back to you within 24 hours.</p>
      <p class="cd"><span class="glyphicon glyphicon-map-marker"></span> Sydney, AU</p>
      <p class="cd"><span class="glyphicon glyphicon-phone"></span> +61 2 9999 9999</p>
      <p class="cd"><span class="glyphicon glyphicon-envelope"></span> admin@usacm.org</p>
    </div>
  </div>
</div>
