<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yes You Can!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 50px;
    font-family: Montserrat, sans-serif;
    margin-top: -20px;
    background-size: cover;
  }

  </style>
</head>

<div class="jumbotron text-center">
  <h1>Welcome to The Official USA Citizenship Marketplace</h1>
  <p>We are your only choice</p>

  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
    <%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>
  <% end %><br><br><br>

</div>


<!-- Container (About Section) -->
<div id="newlife" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2>We will help you create a new life!</h2><br>
      <h4>Changes to the USA Citizenship process means that someone like you can now easily secure citizenship to the USA with a new "pay to play" system.</h4><br>
      <p>The process is simple:</p>

      <li>Join up today</li>
      <li>Add a listed citiznship slot to your account</li>
      <li>Make payment via credit card</li>
      <li>Once payment clears we will email you some forms to complete and return</li>
      <li>Upon receipt of form we can commence your security check</li>
      <li>Security check comes back clear (fingers crossed)</li>
      <li>We organise your new USA Passport and formal citizenship documents to be mailed to you</li>
      <li>As soon as your new passport is in your hands you can live, work and love the USA like any of its other citizens!</li>

    </div>
  </div>
</div><br><br><br>

<!-- Container (Location Section) -->
<div class="container-fluid text-center bg-grey">
  <h2>Where are some of the places you can live?</h2><br>
  <h4>Popular destinations to settle include:</h4>
  <div class="row text-center ">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://travel.usnews.com/images/destinations/18/sunset_blvdview_apart.jpg" alt="LA" width="400" height="300">
        <p><strong>LA</strong></p>
        <p>Hollywood, beaches and Mickey Mouse!</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3a/75/5b/esb.jpg" alt="New York" width="400" height="300">
        <p><strong>New York</strong></p>
        <p>The Big Apple, the city that never sleeps!</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/a1/76/6b/one-of-the-most-photographed.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>San Francisco</strong></p>
        <p>Beautiful city and booming tech hub!</p>
      </div>
    </div>
  </div><br>

<div class="registration-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <!-- <div class="log-in panel">
          <!-- <div class="panel-heading">
          </div> -->
        </div> -->
      </div>
    </div>
  </div>
</div>
