/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  text-align: center;
  height: 100%;
}

.html {
  height: 100%;
  background-size: cover;
}

.body {
  height: 100%;
  background-size: cover;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
  width: 100%;
  background-image: url("https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 18px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

.alert {
  margin-bottom: 0px;
}

#forgotten {
  padding-top: 4em;
  padding-bottom: 20em;
  height: 100%;
  background-image: url('https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: transparent;
  opacity: 0.6;
  margin-bottom: 0px;
}
